@import '~igniteui-angular/lib/core/styles/themes/index';

.carousel-container{
   
}


:host ::ng-deep{

    .igx-carousel__inner{
        min-height: 200px !important;
    }

    
    .image-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel{
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot{
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
        outline: none !important;
    }

    .igx-slide img{
        object-fit: fill;
        max-width: 90%;
    }

}
