<div class="container">
    <div class="box animate__static">
        <div class="box-titulo-principal">
            <h1>Organigrama</h1>
        </div>


    </div>
    <app-chart></app-chart>
    <div class="box">
        <div class="box-titulo animate__static">
            <h2 class="titulo">Presidente</h2>
            <p> {{president.name}}</p>
            <hr />
        </div>
        <div style="margin-top: 10px">
            <div class="flex-box animate" *ngFor="let function of president.functions">
                <div class="cuadrado"></div>
                <div class="caracteristica">
                    <p class="texto-caracteristica">
                        {{function}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="animate">
            <h2 class="titulo">Comité de gestión</h2>
            <hr />
        </div>

    </div>

    <div class="grid-box">
        <div *ngFor="let area of intersting_areas; let i = index" class="card animate">
            <p class="titulo-area">
                {{area.name}}
            </p>
            <hr />
            <p class="subtitulos-area">Responsable</p>
            <p class="tex"> {{area.responsable}}</p>
            <p class="subtitulos-area">Personal de apoyo</p>
            <p class="text"> {{area.support}}</p>
        </div>
    </div>
    <div class="box">
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Dirigir las actividades de su área de interés.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Participar en las reuniones internas del comité de gestiones.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Compartir todo tipo de conocimiento, experiencia u ayuda en su área de interés.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Realizar reuniones internas con su misma área.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Coordinar con el área de edición para el diseño de flyers o videos.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Coordinar con el área de redes sociales para cualquier publicación en el fan page.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Enviar todo tipo de información (formulario, asistencias, entre otros) al área de análisis de
                    datos para su uso.
                </p>
            </div>
        </div>
    </div>
    <div class="box" style="margin-top: 10px">
        <h2 class="animate">Área Funcional de Redes Sociales</h2>
        <div class="animate">
            <p>
                <span class="span">Responsable:</span> Cesar Raúl Cacho León
            </p>
            <hr />
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Administrar el fan page de CAET 21.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Publicar contenido relacionado a información general de tecnología o a cada área de interés.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Coordinar con el área de edición para el diseño de flyers o videos.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Proponer el inicio del uso de otra red social.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Administrar la página de YouTube.
                </p>
            </div>
        </div>
    </div>
    <div class="box" style="margin-top: 10px">
        <h1 class="animate">Área Funcional de Pagina Web</h1>
        <div class="animate">
            <p>
                <span class="span">Responsable:</span> Duván Sáenz Falcon
            </p>
            <hr />
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Publicar contenido relacionado a actividades importantes como conferencias, talleres o charlas.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Darle el mantenimiento a la página web.
                </p>
            </div>
        </div>
    </div>
    <div class="box" style="margin-top: 10px">
        <h1 class="animate">Área Funcional de Edición</h1>
        <div class="animate">
            <p>
                <span class="span">Responsable:</span> Juan Carlos Flores Pucho
            </p>
            <hr />
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Elaborar Flyer a solicitud de cada área de interés.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Solicitar cualquier tipo de información requerida para el diseño de Flyer.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Realizar videos siempre cuando sea necesario.
                </p>
            </div>
        </div>
    </div>
    <div class="box" style="margin-top: 10px">
        <h1 class="animate">Área de Análisis de Datos</h1>
        <div class="animate">
            <p>
                <span class="span">Responsable:</span> Jose Antonio Aira Retuerto
            </p>
            <hr />
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica animate">
                <p class="texto-caracteristica">
                    Recepcionar información (formulario, asistencias), de todas las áreas de interés.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Manejar los datos de manera conveniente para lograr los objetivos trazados.
                </p>
            </div>
        </div>
        <div class="flex-box animate">
            <div class="cuadrado"></div>
            <div class="caracteristica">
                <p class="texto-caracteristica">
                    Brindar dashboard a solicitud de cada área de interés.
                </p>
            </div>
        </div>
    </div>
</div>