<div class="container">
    <div class="box animate__static">
        <div class="box-titulo-principal">
            <h1>Organigrama</h1>
        </div>


    </div>
    <app-chart></app-chart>

    <div class="box">
        <div class="animate">
            <h2 class="titulo">Comité de gestión</h2>
            <hr />
        </div>

    </div>

    <div class="grid-box">
        <div *ngFor="let area of intersting_areas; let i = index" class="card animate">
            <p class="titulo-area">
                {{area.name}}
            </p>
            <hr />
            <p class="subtitulos-area">Responsable</p>
            <p class="tex"> {{area.responsable}}</p>
            <p class="subtitulos-area">Personal de apoyo</p>
            <p class="text" *ngFor="let support of area.supports"> {{support.name}}</p>
        </div>
    </div>
</div>