@import "./styles.font.scss";
@import "src/styles/styles.color.scss";
@import "~igniteui-angular/lib/core/styles/themes/index";
@import "./node_modules/ngx-org-chart/theming";

@include igx-core();
@include igx-theme($default-palette, $legacy-support: true);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.animate {
    opacity: 0;
    transition: all 0.5s;
}

.animate__static {
    opacity: 0;
    transition: all 0.5s;
}

.showUp {
    animation: showUp 1s;
}

@keyframes showUp {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

.mat-grid-tile .mat-figure {
    align-items: initial !important;
}

.mat-card {
    background: $color_primary-02 !important;
    margin-bottom: 10px;
}

.box {
    margin: 1em;
    padding: 1em;
}

.box-titulo-principal {
    line-height: 2.5;
    padding-left: 30px;
    border-left: 10px solid $color_primary-03;
    margin-bottom: 15px;
}

.mat-icon.mat-icon-inline {
    vertical-align: text-bottom;
    font-size: 20px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $color_primary-02 !important;
}

.mat-input-element {
    caret-color: $color_primary-02 !important;
}

.mat-form-field {
    font-size: 14px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: black;
}


input:focus,
select:focus {
  outline: none;
}


.mat-snack-bar{
  background: #2eec77;
  color: black;
}
