a {
    text-decoration: none;
    color: white;
}

span{
    font-size: 200%;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-fluid {
    max-width: 15% !important;
    margin-right: 5% !important;
  }
  
  .flex {
    display: flex;
  }
 
mat-toolbar{
    border-radius: 0px;
    background:black
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.design-mat-button{
    text-align:start
}

::ng-deep .customize {
    background: black;
  }