<mat-toolbar  class="app-toolbar mat-elevation-z2">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <button mat-button disabled  (click)="changeMenu('')" class="design-mat-button">
            <img class="img-fluid" src="./assets/images/logo/caet.png">
            <span (click)="changeMenu('')" >CAET 21</span>
    </button>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a (click)="changeMenu('')" mat-button>Inicio</a>
            </li>
            <li>
                <a  mat-button  [matMenuTriggerFor]="listNosotros">Nosotros</a>
            </li>
            <mat-menu #listNosotros="matMenu" class="customize">
                <button mat-menu-item (click)="changeMenu('nosotros/historia')">Historia</button>
                <button mat-menu-item (click)="changeMenu('nosotros/organigrama')">Organigrama</button>
                <button mat-menu-item (click)="changeMenu('nosotros/proposito')">Misión y visión</button>
            </mat-menu>            
            <li>
                <a (click)="changeMenu('actividades')" mat-button>Actividades</a>
            </li>
            <li>
                <a (click)="changeMenu('contáctenos')" mat-button>Contáctenos</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>