@import "src/styles/styles.color.scss";

.img-card {
    height: 235px;
    object-fit: cover;
}

.icon-card {
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: text-bottom;
}

.taller-card-div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: white;
}

.taller-card-div-2 {
    position: absolute;
    color: white !important;
    right: 0;
    top: 0;
    background: #0d9479cf;
    padding: 25px;
    border-bottom-left-radius: 15px;
    ;
}

mat-grid-tile {
    background: #C9C4C3;
    height: 300px !important;
}

.abstract__image {
    width: 250px;
    position: relative;
    margin: 0px 15px;
}

.abstract__title {
    width: 100%;
    position: absolute;
    color: white;
    background-color: #000000bd;
    text-align: center;
    padding: 5px;
    bottom: 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.abstract__body {
    margin: 25px;
    color: white;
}

.mat-tab-group {
    margin-bottom: 48px;
}


:host::ng-deep .mat-tab-header {
    margin-bottom: 15px !important;
}

:host::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $color_primary-01;
}
:host::ng-deep .img-card {
    height: 300px !important;
}
a {
    text-decoration: none;
  }