<div class="container">

    <div class="box">
        <div class="box-titulo-principal">
            <h1>Actividades</h1>
        </div>
    </div>

    <div>
        <mat-tab-group animationDuration="1000ms">
            <mat-tab label="Talleres" style="font-size: large;">
                <div class="grid-box">
                    <div *ngFor="let workshop of workshops; let i = index">
                        <mat-card>
                            <a href="{{workshop?.link}}" target="_blank" rel="noopener noreferrer">
                                <img mat-card-image [src]="workshop?.image" class="img-card">
                                <mat-card-content>
                                    <div style="font-size: 18px; text-align: center; color: white;">
                                        <b>{{workshop?.title}}</b>
                                    </div>

                                    <div class="taller-card-div">
                                        <mat-icon [inline]="true">date_range</mat-icon> {{workshop?.date}}
                                    </div>
                                    <div class="taller-card-div">
                                        <mat-icon [inline]="true">schedule</mat-icon> {{workshop?.hour}}
                                    </div>
                                </mat-card-content>
                            </a>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Conferencias">
                <div *ngFor="let conference of conferences;">
                    <mat-card class="card">
                        <a href="{{conference?.link}}" target="_blank" rel="noopener noreferrer">
                            <img mat-card-image class="img-card" [src]="conference?.image" />
                            <div class="abstract__content">

                                <div style="text-align: center; color: white;">
                                    <span style="font-size: 25px;">{{conference?.title}}</span>
                                </div>
                                <div class="abstract__body">
                                    <div>
                                        <b>Exponente:</b>
                                    </div>
                                    <div>
                                        <span>{{conference?.speaker}} </span>
                                    </div>
                                    <div>
                                        <span>{{conference?.position}}</span>
                                    </div>
                                </div>

                                <div class="taller-card-div-2">
                                    <div>
                                        <mat-icon [inline]="true">date_range</mat-icon> {{conference?.date}}
                                    </div>
                                    <div>
                                        <mat-icon [inline]="true">schedule</mat-icon> {{conference?.hour}}
                                    </div>
                                </div>
                            </div>
                        </a>

                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>