<div class="section__description">
    <div class="description__title">
        <div class="center__verticaly">
            Club Académico
            <br />
            Estudiantil de Tecnología - CAET 21
        </div>
    </div>
    <div class="description__body">
        <div class="body__text">
            Bienvenido a CAET 21, somos una comunidad estudiantil
            que busca fortalecer el desarrollo académico, social y profesional del estudiante compartiendo
            conocimiento , experiencia estudiantil o laboral y ayuda entre la misma comunidad.
        </div>
    </div>
</div>