<div class="box">
  <div class="box-titulo-principal">
    <h1>Misión y Visión</h1>
  </div>

  <div>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile
          [colspan]="1"
          [rowspan]="1">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><p clas="card-title">MISIÓN</p></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p style="padding-top: 5%;">
              Somos una comunidad académica de profesores, estudiantes y personal administrativo dedicado a la investigación científica y tecnológica.
              Formamos profesionales en Ingeniería de Sistemas e Informática de alto nivel
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
          [colspan]="1"
          [rowspan]="2">
          <div>
            <img src="../../../../../logo_caet.jpg" height="300px" width="300px">
            <h1 style="text-align: center">
              CAET 21
            </h1>
          </div>

      </mat-grid-tile>


      <mat-grid-tile
          [colspan]="1"
          [rowspan]="1">
          <mat-card class="card-vision">
            <mat-card-header class="content-vision">
              <mat-card-title><p clas="card-title">VISIÓN</p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p style="padding-top: 5%;">
                Ser comunidad académica de excelencia, culta y pioneraen la investigación científica y tecnológica.
                Formamos profesionales de Sistemas e Informática
              </p>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>










