<div class="container">
  <div class="box animate__static">
    <div class="box-titulo-principal">
      <h1>Misión y Visión</h1>
    </div>
  </div>

  <div class="purpose__content">
    <div class="purpose__section">
      <div class="section__mision animate__static">
        <div class="purpose__title">
          MISIÓN
        </div>
        <div>
          Somos una comunidad académica de profesores, estudiantes y personal administrativo dedicado a la investigación
          científica y tecnológica.
          Formamos profesionales en Ingeniería de Sistemas e Informática de alto nivel
        </div>
      </div>
      <div class="section__vision animate__static">
        <div class="purpose__title">
          VISIÓN
        </div>
        <div>
          Ser comunidad académica de excelencia, culta y pioneraen la investigación científica y tecnológica.
          Formamos profesionales de Sistemas e Informática
        </div>
      </div>
    </div>
    <div class="purpose__image animate__static">
      <img src="./assets/images/logo/caet.png" style="width: 70%;">
    </div>
  </div>
</div>