.example-card{ display: flex;
  flex-direction: column; }

mat-card-header{
  background-color: rgb(152, 243, 213);
  color: black;
}

mat-card{
  height: 200px;
  background-color: rgb(91, 211, 171);
}

.card-vision{
  background-color: rgb(179, 180, 180);
}

p{
  text-align: justify;
  color: black;
  font-size: large;
  display: block;
}

.content-vision{
  background-color:  rgb(241, 234, 234);
}

.card-title{
  text-align: center;
  display: block;
}
