@import "src/styles/styles.color.scss";

.purpose__content {
  display: inline-flex;
  color: white;
  align-items: center;
}

.purpose__title {
  font-size: 25px;
  font-weight: bold;
}

.purpose__image {
  width: 40%;
  text-align: center;
}

.purpose__section {
  width: 60%;
}

.section__mision {
  background: $color_primary-02;
  padding: 30px;
}

.section__vision {
  background: $color_primary-03;
  padding: 30px;
}
@media (max-width: 768px) {
  .purpose__image {
    display: none;
  }

  .purpose__section {
    width: 100%;
  }
}
