<mat-sidenav-container color="white">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content style="margin-top: 57px !important;">
        <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
        <main>
            <div>
                <router-outlet></router-outlet>
            </div>
        </main>
        <div *ngIf="isLoading">
            <app-footer></app-footer>
        </div>
       
    </mat-sidenav-content>
</mat-sidenav-container>
