<footer class="footer-distributed">
    <div class="footer-left animate__static">
        <p class="footer-company-about">
            <span>Redes sociales</span>
            Siguenos en nuestras redes sociales</p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/CAET21UNMSM" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCMYIiViSDXP3zgZgjNAInyg/featured" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
    <div class="footer-center animate__static">
        <div>
            <i class="fa fa-map-marker"></i>
              <p><span>{{configuration?.information.address_1}}</span>
                {{configuration?.information.address_2}}</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>{{configuration?.information.phone}}</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@eduonix.com">{{configuration?.information.email}}</a></p>
        </div>
    </div>
    <div class="footer-right">
        <img src="./assets/images/logo/caet.png" class="center" width="100">
        <h3 style="text-align: center;"><a href="#">CAET 21</a></h3>
    </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center subfooter">CLUB ACADÉMICO ESTUDIANTIL DE TECNOLOGÍA</p>
      </div>
	</div>
</footer>
