<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <div>
                <img class="center" width="100" src="./assets/images/logo/caet.png">
                </div>
            <h3><a href="#">CAET<span>21</span></a></h3>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">San Miguel puerta 7</span>Lima, Perú</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">948504958</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">contacto@caet21.com.pe</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>Redes sociales</h4>
            <p>Siguenos en nuestras redes sociales</p>
            <div class="social-links social-icons"><a href="https://www.facebook.com/CAET21UNMSM" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://www.youtube.com/channel/UCMYIiViSDXP3zgZgjNAInyg/featured" target="_blank"><i class="fa fa-youtube"></i></a></div>
        </div>
    </div>
    <section class="footer-copyright border-top">
        <p class="float-left text-muted"> CLUB ACADEMICO ESTUDIANTIL DE TECNOLOGIA</p>
    </section>
</footer>
