<div class="container">

  <div class="box box-1 animate__static">
    <div class="box-titulo-principal">
      <h1>Historia</h1>
    </div>
  </div>
  <header class="animate__static">
    <p>Línea de tiempo</p>
    <h1>Formación de la comunidad CAET 21</h1>
  </header>
  <div class="container-timeline">
    <ul class="timeline">
      <li *ngFor="let item of historyList; let i = index">
        <div [ngClass]="i % 2 === 0 ? 'direction-r' : 'direction-l'">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="time-wrapper"><span class="time">{{item?.date}}</span></span>
          </div>
          <div>
            <div class="overlay-box sombreado" [ngStyle]="{'background-image': 'url(' + item?.image + ')'}">
              <div class="desc2">
                <h2 class="titleH3">{{item?.title}}</h2>
                {{item?.content}}
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>